<%-include('../admin/layout/admin_header.ejs')%>
 <style>
            html * {
                box-sizing: border-box;
            }

            p {
                margin: 0;
            }

            .upload__box {
                padding: 40px;
            }

            .upload__inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            .upload__btn {
                display: inline-block;
                font-weight: 600;
                color: #c1e4e9;
                text-align: center;
                min-width: 116px;
                padding: 5px;
                transition: all 0.3s ease;
                cursor: pointer;
                border: 2px solid;
                background-color: #1a1c23;
                border-color: #454674;
                border-radius: 10px;
                line-height: 18px;
                font-size: 14px;
            }

            .upload__btn:hover {
                background-color: unset;
                color: #4045ba;
                transition: all 0.3s ease;
            }

            .upload__btn-box {
                margin-bottom: 10px;
            }

            .upload__img-wrap {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
            }

            .upload__img-box {
                width: 150px;
                padding: 0 10px;
                margin-bottom: 12px;
            }

            .upload__img-close {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 10px;
                right: 10px;
                text-align: center;
                line-height: 24px;
                z-index: 1;
                cursor: pointer;
            }

            .upload__img-close:after {
                content: "\2716";
                font-size: 14px;
                color: white;
            }

            .img-bg {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                position: relative;
                padding-bottom: 100%;
            }
        </style>
    </head>

    <body>
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container px-6 mx-auto">
                <h2 class="my-6 text-2xl font-semibold text-gray-700">
                    Add Products
                </h2>

                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md">
                    <form action="/admin/addproduct" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" type="text" id="name" name="name" required >
                        </div>

                        
                 <div class="mb-3">
                     <label class="form-label">Price</label>
                     <input id="price" class="form-control" type="number" name="price" min="0 " required>
                                </div>

                        <div class="mb-3">
                            <label class="form-label">Upload Image</label>
                            <input type="file" accept="image/*" name="image" class="form-control" multiple>
                          </div>
                          
                          <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400"> category </span>
                            
                            <select  name="category"
                              class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            > 
                
                     
                              <%
                               if(Catdata.length>0){
                              for(let i=0;i<Catdata.length;i++){
                                %>
                              <option><%= Catdata[i].name%></option>
                            <%
                          }
                        }else{
                          %>
                         
                          <option>No Category Availiable</option>
                          <%
                        }
                        %>
                
                      </select>
                          </label>
                

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea name="description" class="form-control" rows="3"
                                placeholder="Enter some long form content."></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input class="form-control" type="text" name="stock" id="stock" min="1"  required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add New Products</button>
                    </form>
                </div>
            </div>
        
            <!-- Success Modal -->
            <div class="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Success</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Product added successfully!
                        </div>
                        
                    </div>
                </div>
            </div>
      
<%-include('../admin/layout/admin_footer.ejs')%>
    
    <script>
function validateForm() {
    
    const name=document.getElementById('name')
    const priceinput = document.getElementById('price');
    const price = parseFloat(priceinput.value);
    if(name==''){
        alert("Enter The Name")
        return false
    }

    if (isNaN(price) || price < 100) {
        
        alert("Price must be a number and should be at least 100.");
        
        return false;
    }
    
    const stockinput = document.getElementById('stock');
    const stock = parseFloat(stockinput.value);

    if(isNaN(stock)||stock < 1){
        alert('stock must be greaterthan 0');

        return false;
    }

    
    showSuccessModal();
    return true;
}
function showSuccessModal() {
   let modal=document.getElementById('successModal')
   modal.removeAttribute("hidden")  
    const successModal = new bootstrap.Modal(document.getElementById('successModal'));
    successModal.show();
}

</script>


   