<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_asset/style.css">
</head>

<body>
   
    <form action="/forgotPasswordotp" method="post">
        <input type="hidden" value="<%=email%>">
        <div class="container height-100 d-flex justify-content-center align-items-center">
            <div class="position-relative">
                <div class="card p-2 text-center">
                    <% if (typeof message!=='undefined') {	%>
                        <div class="message-box">
                            <% if (message) { %>
                              <div class="alert alert-danger">
                                <%= message %>
                              </div>
                            <% } %>
                          </div>
                          
                    <% } %>
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    
                    <div id="otp" class="mt-2">
                        <input class="m-2 text-center form-control " type="text" id="otp" name="otp" />
                       

                    </div>
                    <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
                  
                </div>
            </div>
        </div>
        <div>
						
           
        
        </div>
    </form>
</body>

</html>