<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body style="background-color: #f5f5f5;">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div>
            <% if (typeof message!=='undefined') {	%>
              <div class="message-box">
                  <% if (message) { %>
                    <div class="alert alert-danger">
                      <%= message %>
                    </div>
                  <% } %>
                </div>
                
          <% } %>
          </div>
          <div class="card-header "style="background-color: #ff6600;">
            <h4><i class="fas fa-lock"></i> Forgot Password</h4>
          </div>
          <div class="card-body">
            <form action="/forgotPassword" method="POST">
              <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <button type="submit" style="background-color: #ff6600;"><i class="fas fa-paper-plane"></i> Request Reset Link</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS script link (required for some components) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
